label{
  margin: 0;
}
.tab_content{
  /* border: 2px solid red: */
}
.tab_content img{
  width: 100%;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  /* margin-top: 50px; */
  padding-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* margin: 0 auto; */
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/4);
  height: 50px;
  border-bottom: 3px solid rgb(235, 127, 40);
  background-color: lightgray;
  line-height: 50px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding-right: 40px;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#block:checked ~ #block_content,
#image:checked ~ #image_content,
#sound:checked ~ #sound_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: rgb(235, 127, 40);
  color: white;
}
